$themes: (
  nightly: (
    'topBar-background-color': #434f66,
    'roomList-background-color': #958bca,
    'roomListItem-background-color': #242e42,
    'roomLink-color': #958bca,
    'roomLink-message-color': #8bb7ca,
    'topBar-font-color': #8bb7ca,
    'form-textInput-color': #958bca,
    'body-background-color': #242e42,
    'room-background-color': #242e42,
    'h2-color': #fff,
    'chat-message-color': #fff,
    'sent-message-background-color': #958bca,
    'received-message-background-color': #434f66,
    'fromUser-font-color': #8bb7ca,
    'message-font-color': #fff,
    'newRoom-button-color': #958bca,
    'messageInput-background-color': #434f66,
    'loginLink-color': #8bb7ca,
    'sendMessage-input-color': #fff,
    'scrollbar-border': 3px solid #958bca,
    'loginPage-font-color': #fff,
    'changePassword-background-color': #f78d6f,
    'newRoomForm-background-color': #242e42,
    'newRoomForm-input-color': #958bca,
    'newRoomForm-font-color': #fff,
  ),
  brome: (
    'topBar-background-color': #2c5784,
    'roomList-background-color': #d77a61,
    'roomListItem-background-color': #2c5784,
    'roomLink-color': #d77a61,
    'roomLink-message-color': #fff,
    'topBar-font-color': #d77a61,
    'form-textInput-color': #d77a61,
    'body-background-color': #f7ede2,
    'room-background-color': #f7ede2,
    'h2-color': #2c5784,
    'chat-message-color': #fff,
    'sent-message-background-color': #d77a61,
    'received-message-background-color': #2c5784,
    'fromUser-font-color': #d77a61,
    'message-font-color': #fff,
    'newRoom-button-color': #d77a61,
    'messageInput-background-color': #2c5784,
    'loginLink-color': #2c5784,
    'sendMessage-input-color': #fff,
    'scrollbar-border': 3px solid #d77a61,
    'loginPage-font-color': #2c5784,
    'changePassword-background-color': #f78d6f,
    'newRoomForm-background-color': #2c5784,
    'newRoomForm-input-color': #f7ede2,
    'newRoomForm-font-color': #2c5784,
  ),
);
