@use 'rooms'
@use 'room'
@use 'login'
@use 'settings'
@use 'infocomponent'
@use 'notification'
@import '_mixins'

@mixin topBar()
  @include theme-aware('background-color', 'topBar-background-color')
  @include theme-aware('color', 'topBar-font-color')
  font-family: Bevan
  font-size: 1.5em
  display: flex
  flex-direction: row
  align-items: center
  width: 100vw
  min-height: 3em
  justify-content: space-between
  :nth-child(1)
    padding-left: 1em
  :nth-child(3)
    padding-right: 1em

@mixin viewContainer()
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: auto

body, html
  @include theme-aware('background-color', 'body-background-color')
  height: 100%

  #root
    // position: absolute
    // top: 0
    // bottom: 0
    height: 100%
    display: flex
    flex-direction: column

    .roomViewContainer
      display: flex
      flex: 1
      height: 80%
      flex-direction: column
      align-items: center

  .button
    @include buttons-hover-effect

  .topBar
    @include topBar()

  .notification
    @include notification.notification()

  .roomListContainer
    display: flex
    flex-direction: column
    align-items: center

  .roomList
    @include rooms.roomList()

  .room
    @include room.room()

  .loginForm
    @include login.login()

  .settings
    @include settings.settings()

  .infoContainer
    @include infocomponent.info()
