$background-color: #242e42
$user-message-color: #958bca
$received-message-color: #434f66
$font-color: #fff
$font-family-message: Roboto Slab
$font-size-message: 1em
$font-color-sender: #8bb7ca
$message-inputfield-color: #434f66

@mixin topBar()
    background-color: #434F66
    font-family: Bevan
    font-size: 1.5em
    font-style: normal
    font-weight: 700
    color: #8BB7CA
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0.5em

@mixin viewContainer()
    display: flex
    flex-direction: column
