$background-color: #242e42;
$user-message-color: #958bca;
$font-color: #fff;

.room {
  margin: 7px;
  background-color: $background-color;

  h2 {
    color: $font-color;
  }

  ul {
    color: $font-color;
  }

  li {
    background-color: $user-message-color;
    border-radius: 16px 16px 4px 16px;
    padding: 4px 4px 4px 8px;
    margin-top: 5px;
    margin-right: 18px;
  }
}
