@use 'app'

body
  background-color: app.$primary

.viewContainer
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  min-height: 100vh
  overflow: auto

  .topBar
    @include app.topBar()

  .room
    background-color: app.$primary
    display: flex
    flex-direction: column
    margin: 0 0.4375em 0 0.4375em
    height: 100vh
    overflow: hidden

    h2
      color: app.$font-color

    .chat
      color: app.$font-color
      list-style-type: none
      display: flex
      flex-direction: column
      height: 100%
      overflow-y: scroll
      padding: 0.1em 0
      margin: 0

  .sentMessage

    background-color: app.$secondary
    border-radius: 1em 1em 0.25em 1em
    padding: 0.5em 1em 0.5em 1em
    margin-top: 0.8125em
    margin-right: 1.125em
    margin-left: 1.125em
    min-height: 2em
    min-width: 3em
    height: fit-content
    align-self: flex-end
    font-family: app.$font-family-message

  .receivedMessage
    background-color: app.$primary-accent
    border-radius: 1em 1em 1em 0.25em
    padding: 0.5em 1em 0.5em 1em
    margin-top: 0.8125em
    margin-left: 1.125em
    margin-right: 1.125em
    min-height: 2em
    width: fit-content
    min-height: fit-content
    align-self: flex-start
    font-family: app.$font-family-message

  .fromUser
    color: app.$secondary-accent

  .message
    font-family: app.$font-family-message
    font-size: app.$font-size-message

  .submitMessageForm

    display: flex
    flex-direction: row
    padding-bottom: 0.5em
    padding-top: 0.3em

    input

      background-color: app.$primary-accent
      margin-left: 1.125em
      margin-right: 1.125em
      height: 2.625em
      border: none
      border-radius: 1.25em
      flex: 1

    button

      margin-right: 1.125em
      flex: 1
      border: none
      border-radius: 2.5em 2.5em 0.9375em 2.5em
      max-width: 2.625em
      max-height: 2.625em
      background-color: app.$secondary

.roomList
  @include app.roomList()

  .roomListItem
    @include app.roomListItem()
    padding-left: 1em

    .roomLink
      text-decoration: none
      color: app.$secondary
      font-family: Bevan
      font-size: 1em

    .roomList:visited
      text-decoration: none
      color: app.$secondary
      font-family: Bevan
      font-size: 1em

    .lastMessage
      color: app.$secondary-accent
      font-family: Bevan
      font-size: 1em
      margin: 0

  .iconTime
    color: app.$secondary
    display: flex
    flex-direction: row
    justify-content: center
    font-family: Bevan
    font-size: 1em
    align-items: center
    width: 20%

    p

  .nameMessage
    width: 75%

.newRoomButton
  display: flex
  height: 25%
  justify-content: center
  align-items: center

  .newRoom
    background-color: Bevan
    color: app.$font-color
    font-size: 1em
    border-radius: 0.125em
    border: none
    padding: 0.3em 1em
    max-width: 90%
    font-family: Bevan
    font-size: 1.5em
    font-style: normal
    font-weight: 400
