@import '_mixins'

@mixin roomList()
	@include theme-aware('background-color', 'roomList-background-color')
	margin: 1.5em 2em
	border-radius: 0.25em
	list-style-type: none
	flex-direction: column
	padding: 1em 0 0 0
	height: 75vh
	overflow: hidden
	display: flex
	align-items: center
	box-shadow: 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15), 100px 100px 100px rgba(0, 0, 0, 0.075)
	@media (min-width: 800px)
		max-width: 1100px

	.roomListItem
		@include theme-aware('background-color', 'roomListItem-background-color')
		border-radius: 0.25em
		padding: 1em
		margin-top: 1em
		height: 5em
		width: 80vw
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		max-width: 90%
		box-shadow: 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15), 100px 100px 100px rgba(0, 0, 0, 0.075)
		overflow: hidden
		&:hover
			transform: scale(1.05)
			filter: brightness(1.1)

		&:hover
			filter: brightness(1.2)
			transform: scale(1.02)

		.nameMessage
			padding-left: 0.5rem
			text-decoration: none
			flex: 60%

			.roomLink
				@include theme-aware('color', 'roomLink-color')
				text-decoration: none
				font-family: Bevan
				font-size: 1em
			

		.iconTime
			@include theme-aware('color', 'roomLink-color')
			display: flex
			flex-direction: column
			justify-content: center
			align-items: start
			font-family: Bevan
			font-size: 0.7rem
			flex: 40%

			.lastMessage
				@include theme-aware('color', 'roomLink-message-color')
				font-family: Bevan
				font-size: 1em
				margin: 0
				padding-top: 0.5em
				overflow: hidden
				max-height: 5em

.newRoomButton
	display: flex
	justify-content: center
	align-items: center

	.newRoom
		@include theme-aware('background-color', 'newRoom-button-color')
		@include theme-aware('color', 'message-font-color')
		font-size: 2em
		border-radius: 0.125em
		border: none
		padding: 0.3em 1em
		box-shadow: 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15), 100px 100px 100px rgba(0, 0, 0, 0.075)
