.newRoomButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newRoomButton .newRoom {
  font-size: 2em;
  border-radius: 0.125em;
  border: none;
  padding: 0.3em 1em;
  box-shadow: 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15), 100px 100px 100px rgba(0, 0, 0, 0.075);
}
.theme-nightly .newRoomButton .newRoom {
  background-color: #958bca;
}
.theme-brome .newRoomButton .newRoom {
  background-color: #d77a61;
}
.theme-nightly .newRoomButton .newRoom {
  color: #fff;
}
.theme-brome .newRoomButton .newRoom {
  color: #fff;
}

body, html {
  height: 100%;
}
.theme-nightly body, .theme-nightly html {
  background-color: #242e42;
}
.theme-brome body, .theme-brome html {
  background-color: #f7ede2;
}
body #root, html #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body #root .roomViewContainer, html #root .roomViewContainer {
  display: flex;
  flex: 1;
  height: 80%;
  flex-direction: column;
  align-items: center;
}
body .button:hover, html .button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
body .topBar, html .topBar {
  font-family: Bevan;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  min-height: 3em;
  justify-content: space-between;
}
.theme-nightly body .topBar, .theme-nightly html .topBar {
  background-color: #434f66;
}
.theme-brome body .topBar, .theme-brome html .topBar {
  background-color: #2c5784;
}
.theme-nightly body .topBar, .theme-nightly html .topBar {
  color: #8bb7ca;
}
.theme-brome body .topBar, .theme-brome html .topBar {
  color: #d77a61;
}
body .topBar :nth-child(1), html .topBar :nth-child(1) {
  padding-left: 1em;
}
body .topBar :nth-child(3), html .topBar :nth-child(3) {
  padding-right: 1em;
}
body .notification, html .notification {
  font-family: Roboto Slab;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45vh;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.theme-nightly body .notification, .theme-nightly html .notification {
  color: #fff;
}
.theme-brome body .notification, .theme-brome html .notification {
  color: #fff;
}
body .notification li, html .notification li {
  display: flex;
  justify-content: center;
  border-radius: 1em 1em 1em 1em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0.8125em;
  margin-right: 1.125em;
  margin-left: 1.125em;
  min-height: 2em;
  min-width: 3em;
  height: fit-content;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .notification li, .theme-nightly html .notification li {
  background-color: #434f66;
}
.theme-brome body .notification li, .theme-brome html .notification li {
  background-color: #2c5784;
}
body .roomListContainer, html .roomListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .roomList, html .roomList {
  margin: 1.5em 2em;
  border-radius: 0.25em;
  list-style-type: none;
  flex-direction: column;
  padding: 1em 0 0 0;
  height: 75vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15), 100px 100px 100px rgba(0, 0, 0, 0.075);
}
.theme-nightly body .roomList, .theme-nightly html .roomList {
  background-color: #958bca;
}
.theme-brome body .roomList, .theme-brome html .roomList {
  background-color: #d77a61;
}
@media (min-width: 800px) {
  body .roomList, html .roomList {
    max-width: 1100px;
  }
}
body .roomList .roomListItem, html .roomList .roomListItem {
  border-radius: 0.25em;
  padding: 0.5em 0.5em 0.25em 0;
  margin-top: 1em;
  min-height: 5em;
  width: 70vw;
  display: flex;
  flex-direction: row;
  box-shadow: 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15), 100px 100px 100px rgba(0, 0, 0, 0.075);
}
.theme-nightly body .roomList .roomListItem, .theme-nightly html .roomList .roomListItem {
  background-color: #242e42;
}
.theme-brome body .roomList .roomListItem, .theme-brome html .roomList .roomListItem {
  background-color: #2c5784;
}
body .roomList .roomListItem:hover, html .roomList .roomListItem:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
body .roomList .roomListItem:hover, html .roomList .roomListItem:hover {
  transform: scale(1.05);
}
@media (min-width: 800px) {
  body .roomList .roomListItem, html .roomList .roomListItem {
    max-width: 70%;
  }
}
body .roomList .nameMessage, html .roomList .nameMessage {
  flex: 2;
  padding-left: 1rem;
}
body .roomList .roomLink, html .roomList .roomLink {
  text-decoration: none;
  font-family: Bevan;
  font-size: 1em;
}
.theme-nightly body .roomList .roomLink, .theme-nightly html .roomList .roomLink {
  color: #958bca;
}
.theme-brome body .roomList .roomLink, .theme-brome html .roomList .roomLink {
  color: #d77a61;
}
body .roomList .roomList:visited, html .roomList .roomList:visited {
  text-decoration: none;
  font-family: Bevan;
  font-size: 1em;
}
.theme-nightly body .roomList .roomList:visited, .theme-nightly html .roomList .roomList:visited {
  color: #958bca;
}
.theme-brome body .roomList .roomList:visited, .theme-brome html .roomList .roomList:visited {
  color: #d77a61;
}
body .roomList .lastMessage, html .roomList .lastMessage {
  font-family: Bevan;
  font-size: 1em;
  margin: 0;
}
.theme-nightly body .roomList .lastMessage, .theme-nightly html .roomList .lastMessage {
  color: #8bb7ca;
}
.theme-brome body .roomList .lastMessage, .theme-brome html .roomList .lastMessage {
  color: #fff;
}
body .roomList .iconTime, html .roomList .iconTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Bevan;
  font-size: 0.7rem;
  align-items: center;
  flex: 1;
}
.theme-nightly body .roomList .iconTime, .theme-nightly html .roomList .iconTime {
  color: #958bca;
}
.theme-brome body .roomList .iconTime, .theme-brome html .roomList .iconTime {
  color: #d77a61;
}
body .room, html .room {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.theme-nightly body .room, .theme-nightly html .room {
  background-color: #242e42;
}
.theme-brome body .room, .theme-brome html .room {
  background-color: #f7ede2;
}
@media (min-width: 800px) {
  body .room, html .room {
    display: flex;
    max-width: 1100px;
  }
}
body .room .chat, html .room .chat {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0.1em 0;
  margin: 0;
  width: 100vw;
}
.theme-nightly body .room .chat, .theme-nightly html .room .chat {
  color: #fff;
}
.theme-brome body .room .chat, .theme-brome html .room .chat {
  color: #fff;
}
body .room .chat::-webkit-scrollbar, html .room .chat::-webkit-scrollbar {
  border-radius: 100px;
  background: #8070D4;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
@media (min-width: 800px) {
  body .room .chat, html .room .chat {
    max-width: 1100px;
  }
}
body .room .chat .sentMessage, html .room .chat .sentMessage {
  border-radius: 1em 1em 0.25em 1em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0.8125em;
  margin-right: 1.125em;
  margin-left: 1.125em;
  min-height: 2em;
  min-width: 3em;
  height: fit-content;
  align-self: flex-end;
  font-family: Roboto Slab;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
  position: relative;
}
.theme-nightly body .room .chat .sentMessage, .theme-nightly html .room .chat .sentMessage {
  background-color: #958bca;
}
.theme-brome body .room .chat .sentMessage, .theme-brome html .room .chat .sentMessage {
  background-color: #d77a61;
}
body .room .chat .sentMessage:hover:hover, html .room .chat .sentMessage:hover:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
body .room .chat .sentMessage:hover > .messageMenu, html .room .chat .sentMessage:hover > .messageMenu {
  display: block;
}
body .room .chat .receivedMessage, html .room .chat .receivedMessage {
  border-radius: 1em 1em 1em 0.25em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0.8125em;
  margin-left: 1.125em;
  margin-right: 1.125em;
  min-height: 2em;
  width: fit-content;
  min-height: fit-content;
  align-self: flex-start;
  font-family: Roboto Slab;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .room .chat .receivedMessage, .theme-nightly html .room .chat .receivedMessage {
  background-color: #434f66;
}
.theme-brome body .room .chat .receivedMessage, .theme-brome html .room .chat .receivedMessage {
  background-color: #2c5784;
}
body .room .chat .messageMenu, html .room .chat .messageMenu {
  display: none;
  z-index: 1000000;
  padding: 1em;
  border-radius: 50%;
  left: -2vw;
  font-family: Roboto Slab;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
  position: absolute;
}
.theme-nightly body .room .chat .messageMenu, .theme-nightly html .room .chat .messageMenu {
  background-color: #434f66;
}
.theme-brome body .room .chat .messageMenu, .theme-brome html .room .chat .messageMenu {
  background-color: #2c5784;
}
body .room .chat .messageMenu:hover:hover, html .room .chat .messageMenu:hover:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.theme-nightly body .room .chat .messageMenu .fromUser, .theme-nightly html .room .chat .messageMenu .fromUser {
  color: #8bb7ca;
}
.theme-brome body .room .chat .messageMenu .fromUser, .theme-brome html .room .chat .messageMenu .fromUser {
  color: #d77a61;
}
body .room .chat .messageMenu .message, html .room .chat .messageMenu .message {
  font-family: Roboto Slab;
  font-size: 1em;
}
body .room .submitMessageForm, html .room .submitMessageForm {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
  justify-content: center;
  align-items: center;
}
body .room .submitMessageForm input, html .room .submitMessageForm input {
  margin-left: 1.125em;
  margin-right: 1.125em;
  height: 2.625em;
  font-size: 1em;
  border: none;
  border-radius: 1.25em;
  flex: 1;
  text-indent: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .room .submitMessageForm input, .theme-nightly html .room .submitMessageForm input {
  background-color: #434f66;
}
.theme-brome body .room .submitMessageForm input, .theme-brome html .room .submitMessageForm input {
  background-color: #2c5784;
}
.theme-nightly body .room .submitMessageForm input, .theme-nightly html .room .submitMessageForm input {
  color: #fff;
}
.theme-brome body .room .submitMessageForm input, .theme-brome html .room .submitMessageForm input {
  color: #fff;
}
.theme-nightly body .room .submitMessageForm input:focus, .theme-nightly html .room .submitMessageForm input:focus {
  outline-color: #958bca;
}
.theme-brome body .room .submitMessageForm input:focus, .theme-brome html .room .submitMessageForm input:focus {
  outline-color: #d77a61;
}
body .room .submitMessageForm button, html .room .submitMessageForm button {
  margin-right: 1.125em;
  flex: 1;
  border: none;
  border-radius: 2.5em 2.5em 0.9375em 2.5em;
  max-width: 2.625em;
  height: 2.625em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .room .submitMessageForm button, .theme-nightly html .room .submitMessageForm button {
  background-color: #958bca;
}
.theme-brome body .room .submitMessageForm button, .theme-brome html .room .submitMessageForm button {
  background-color: #d77a61;
}
body .loginForm, html .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.5em;
  margin-top: 1.5em;
}
.theme-nightly body .loginForm, .theme-nightly html .loginForm {
  color: #fff;
}
.theme-brome body .loginForm, .theme-brome html .loginForm {
  color: #2c5784;
}
body .loginForm input:hover, html .loginForm input:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
body .loginForm h3, html .loginForm h3 {
  margin: 0;
  padding: 0;
}
body .loginForm .loginFormDiv, html .loginForm .loginFormDiv {
  margin-top: 2em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5em;
}
body .loginForm .loginFormDiv input[type=text], html .loginForm .loginFormDiv input[type=text] {
  font-size: 1.5em;
  max-width: 85%;
  border-radius: 0.125em;
  border: none;
  margin-top: 0.25em;
}
.theme-nightly body .loginForm .loginFormDiv input[type=text], .theme-nightly html .loginForm .loginFormDiv input[type=text] {
  background-color: #958bca;
}
.theme-brome body .loginForm .loginFormDiv input[type=text], .theme-brome html .loginForm .loginFormDiv input[type=text] {
  background-color: #d77a61;
}
body .loginForm .loginFormDiv input[type=password], html .loginForm .loginFormDiv input[type=password] {
  font-size: 1.5em;
  max-width: 85%;
  border-radius: 0.125em;
  border: none;
  margin-top: 0.25em;
}
.theme-nightly body .loginForm .loginFormDiv input[type=password], .theme-nightly html .loginForm .loginFormDiv input[type=password] {
  background-color: #958bca;
}
.theme-brome body .loginForm .loginFormDiv input[type=password], .theme-brome html .loginForm .loginFormDiv input[type=password] {
  background-color: #d77a61;
}
body .loginForm .loginFormSubmit, html .loginForm .loginFormSubmit {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4em;
  align-items: center;
  justify-content: center;
}
body .loginForm .loginFormSubmit input[type=submit], html .loginForm .loginFormSubmit input[type=submit] {
  font-family: Bevan;
  font-size: 1em;
  border-radius: 0.125em;
  border: none;
  padding: 0.3em 1em;
  max-width: 90%;
}
.theme-nightly body .loginForm .loginFormSubmit input[type=submit], .theme-nightly html .loginForm .loginFormSubmit input[type=submit] {
  background-color: #958bca;
}
.theme-brome body .loginForm .loginFormSubmit input[type=submit], .theme-brome html .loginForm .loginFormSubmit input[type=submit] {
  background-color: #d77a61;
}
.theme-nightly body .loginForm .loginFormSubmit input[type=submit], .theme-nightly html .loginForm .loginFormSubmit input[type=submit] {
  color: #fff;
}
.theme-brome body .loginForm .loginFormSubmit input[type=submit], .theme-brome html .loginForm .loginFormSubmit input[type=submit] {
  color: #2c5784;
}
body .loginForm .formInstructions, html .loginForm .formInstructions {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
}
body .loginForm .formInstructions .formLink, html .loginForm .formInstructions .formLink {
  text-decoration: none;
}
.theme-nightly body .loginForm .formInstructions .formLink, .theme-nightly html .loginForm .formInstructions .formLink {
  color: #8bb7ca;
}
.theme-brome body .loginForm .formInstructions .formLink, .theme-brome html .loginForm .formInstructions .formLink {
  color: #2c5784;
}
body .settings, html .settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.theme-nightly body .settings, .theme-nightly html .settings {
  background-color: #242e42;
}
.theme-brome body .settings, .theme-brome html .settings {
  background-color: #f7ede2;
}
@media (min-width: 800px) {
  .theme-nightly body .settings, .theme-nightly html .settings {
    background-color: #242e42;
  }
  .theme-brome body .settings, .theme-brome html .settings {
    background-color: #f7ede2;
  }
}
body .settings button, html .settings button {
  font-size: 1.5em;
  border-radius: 0.125em;
  border: none;
  padding: 0.3em 1em;
  max-width: 80%;
  margin-top: 5em;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .settings button, .theme-nightly html .settings button {
  background-color: #958bca;
}
.theme-brome body .settings button, .theme-brome html .settings button {
  background-color: #d77a61;
}
.theme-nightly body .settings button, .theme-nightly html .settings button {
  color: #fff;
}
.theme-brome body .settings button, .theme-brome html .settings button {
  color: #fff;
}
body .settings button:hover, html .settings button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
body .settings select, html .settings select {
  font-size: 1.5em;
  border-radius: 0.125em;
  position: relative;
  background-image: none;
  display: block;
  min-width: 150px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5em;
  text-overflow: "";
  text-indent: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .settings select, .theme-nightly html .settings select {
  background-color: #958bca;
}
.theme-brome body .settings select, .theme-brome html .settings select {
  background-color: #d77a61;
}
.theme-nightly body .settings select, .theme-nightly html .settings select {
  color: #fff;
}
.theme-brome body .settings select, .theme-brome html .settings select {
  color: #fff;
}
body .settings select:hover, html .settings select:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
@media (min-width: 800px) {
  body .settings select, html .settings select {
    max-width: 300px;
  }
}
body .settings select:-moz-focusring, html .settings select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #888888;
}
body .settings select::-ms-expand, html .settings select::-ms-expand {
  display: none;
}
body .settings h2, html .settings h2 {
  text-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}
.theme-nightly body .settings h2, .theme-nightly html .settings h2 {
  color: #fff;
}
.theme-brome body .settings h2, .theme-brome html .settings h2 {
  color: #2c5784;
}
body .infoContainer, html .infoContainer {
  background-color: pink;
  font-family: Roboto Slab;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  width: 30vw;
  border-radius: 0em 0em 1em 1em;
  max-height: 50vh;
  overflow: auto;
  padding-bottom: 2em;
}
.theme-nightly body .infoContainer, .theme-nightly html .infoContainer {
  color: #fff;
}
.theme-brome body .infoContainer, .theme-brome html .infoContainer {
  color: #fff;
}
.theme-nightly body .infoContainer, .theme-nightly html .infoContainer {
  background-color: #434f66;
}
.theme-brome body .infoContainer, .theme-brome html .infoContainer {
  background-color: #2c5784;
}
body .infoContainer ul, html .infoContainer ul {
  padding: 0;
  list-style: none;
}
body .infoContainer li, html .infoContainer li {
  display: flex;
  justify-content: center;
  border-radius: 1em 1em 1em 1em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0.8125em;
  margin-right: 1.125em;
  margin-left: 1.125em;
  min-height: 2em;
  min-width: 3em;
  height: fit-content;
}
.theme-nightly body .infoContainer li, .theme-nightly html .infoContainer li {
  background-color: #958bca;
}
.theme-brome body .infoContainer li, .theme-brome html .infoContainer li {
  background-color: #d77a61;
}

/*# sourceMappingURL=app.css.map */
