body {
  background-color: #242e42;
}

.viewContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  overflow: auto;
}
.viewContainer .topBar {
  background-color: #434f66;
  font-family: Bevan;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  color: #8bb7ca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}
.viewContainer .room {
  background-color: #242e42;
  display: flex;
  flex-direction: column;
  margin: 0 0.4375em 0 0.4375em;
  height: 100vh;
  overflow: hidden;
}
.viewContainer .room h2 {
  color: #fff;
}
.viewContainer .room .chat {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0.1em 0;
  margin: 0;
}
.viewContainer .sentMessage {
  background-color: #958bca;
  border-radius: 1em 1em 0.25em 1em;
  padding: 0.5em 0.5em 0.25em 0.5em;
  margin-top: 0.8125em;
  margin-right: 1.125em;
  min-height: 2em;
  min-width: 3em;
  height: fit-content;
  align-self: flex-end;
}
.viewContainer .receivedMessage {
  background-color: #434f66;
  border-radius: 1em 1em 1em 0.25em;
  padding: 0.5em 0.5em 0.25em 0.5em;
  margin-top: 0.8125em;
  margin-left: 1.125em;
  min-height: 2em;
  width: fit-content;
  min-height: fit-content;
  align-self: flex-start;
}
.viewContainer .fromUser {
  color: #8bb7ca;
}
.viewContainer .message {
  font-family: Roboto Slab;
  font-size: 1em;
}
.viewContainer .submitMessageForm {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}
.viewContainer .submitMessageForm input {
  background-color: #434f66;
  margin-left: 1.125em;
  margin-right: 1.125em;
  height: 2.625em;
  border: none;
  border-radius: 1.25em;
  flex: 1;
}
.viewContainer .submitMessageForm button {
  margin-right: 1.125em;
  flex: 1;
  border: none;
  border-radius: 2.5em 2.5em 0.9375em 2.5em;
  max-width: 2.625em;
  max-height: 2.625em;
  background-color: #958bca;
}

.roomList {
  background-color: #958bca;
  margin: 0 0.4375em;
  border-radius: 0.25em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 80vh;
  overflow: hidden;
}
.roomList .roomListItem {
  background-color: #242e42;
  border-radius: 0.25em;
  padding: 0.5em 0.5em 0.25em 0;
  margin-top: 0.5em;
  min-height: 2em;
  min-width: 90%;
  height: fit-content;
  align-self: center;
}
.roomList .roomListItem .roomLink {
  text-decoration: none;
  color: #958bca;
  font-family: Bevan;
  font-size: 1em;
}
.roomList .roomListItem .roomList:visited {
  text-decoration: none;
  color: #958bca;
  font-family: Bevan;
  font-size: 1em;
}

.newRoomButton {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}
.newRoomButton .newRoom {
  background-color: #958bca;
  color: #fff;
  font-size: 1em;
  border-radius: 0.125em;
  border: none;
  padding: 0.3em 1em;
  max-width: 90%;
}

/*# sourceMappingURL=room.css.map */
